
body {
  display:flex ;
  flex-direction: column;
  background-color: darkcyan;
}
.bignav {
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   justify-content: center;
}
.navbar {
  background-color: darkslateblue;
  border-left: solid darkslateblue 2%;
  border-right: solid darkslateblue 2%;
  border-top: solid darkslateblue 2%;
  border-bottom: solid darkslateblue 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  align-self: center;
  justify-content: space-between;
}
.buttons {
  /*Holder for buttons */
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hidden {
  background-color: aquamarine;  
  border: solid blueviolet .5lvh;
  border-radius: 100%;
  box-shadow: 0 0 12px -2px black;
  padding: 10px;
}
.topbar {
  justify-content: top;
}
.lrounded {
  background-color: darkslateblue;
  width: 5%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.rrounded {
  background-color: darkslateblue;
  width: 5%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.button {
  /*individual buttions*/
  background-color: aquamarine;  
  border: solid blueviolet .5lvh;
  border-radius: 100%;
  box-shadow: 0 0 12px -2px black;
  padding: 10px;
}
footer {
  background-color: blue;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  bottom: 0;
  width: 80%;
}
a:link {
  text-decoration: none;
  color: blueviolet;
}
a:visited {
  color: blueviolet;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  vertical-align: top;
  

}
article {
  display: flex;
  background-color: rgb(7, 76, 155);
  width: 80%;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
.content > p {
  text-align: justify;
  padding: 2%;
  
}
section > img {
  float: right;
  width: 20%;
  padding: 1%;
  
}
a > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.about > section {
  border: solid;
  border-color: antiquewhite;
  border-width: 1px;
  text-align: justify;

}
@media screen and (max-width: 580px) {
  .button {
    display: none;
  }  

}
@media screen and (min-width: 581px) {
  .hidden {
    display: none;
  }
}
